.dropbtnlang {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .droplang {
    position: relative;
    display: inline-block;
    margin-left: 92.9%;
    
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .droplang-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
  /* Links inside the dropdown */
  .droplang-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .droplang-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .droplang:hover .droplang-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .droplang:hover .dropbtnlang {
    background-color: #3e8e41;
  }