.dropbtn {
    background-color: #7edfa7;
    color: rgb(248, 248, 248);
    padding: 16px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 0px 20px 0px 20px;
   
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
   
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 3px;
    background-color: #f5f5f5;
    min-width: 253px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 500px;
    height: auto;
    overflow-y:scroll;
    
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    max-height: 500px;
    height: auto;
    
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #d3b3ae;}